<!DOCTYPE html>
<html class="<%= params[:lookbook][:display][:theme] %>">
  <head>
    <title><%= @page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="p-6 lg:p-8 bg-white dark:bg-gray-800">
    <div>
      <%= yield %>
    </div>
  </body>
</html>
